<div class="hm3-item-description-editor-window">
    <div class="hm3-item-description-editor-body">
        {{editor description target="system.description" button=false editable=true engine="prosemirror" collaborate=false}}
    </div>
    <footer class="hm3-item-description-editor-actions">
        <button type="button" data-action="save-description">
            <i class="fas fa-save"></i> Save
        </button>
        <button type="button" data-action="cancel-description">
            <i class="fas fa-times"></i> Cancel
        </button>
    </footer>
</div>
